{% extends 'base.html.twig' %}

{% block title %}Mon panier
{% endblock %}

{% block body %}

	<h1 class="text-bold text-xl text-center">Mon panier</h1>

	<table class="w-full">
		<thead>
			<tr>
				<th class="border">Nom</th>
				<th class="border">Prix</th>
				<th class="border">Quantité</th>
				<th class="border">Sous-total</th>
				<th class="border">Actions</th>
			</tr>
		</thead>

		<tbody>
			{% for product in cart.produits %}
				<tr class="even:bg-gray-200">
					<td class="border">{{product.nom}}</td>
					<td class="border">{{product.prix|number_format(2,',',' ') }}&nbsp;€</td>
					<td class="border">1</td>
					<td class="border">{{(product.prix * 1)|number_format(2,',',' ') }}&nbsp;€</td>
					<td class="border">
						<a href="{{ path('app_cart_remove', {id: product.id}) }}" class="px-2 py-1 bg-red-500 text-white hover:bg-red-700">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
