{% extends 'base.html.twig' %}

{% block title %}Mon super site{% endblock %}

{% block body %}
<p>Vous pouvez me contacter à l'adresse email <a href="mailto:contact@mon-super-site.com">contact@mon-super-site.com</a> ou bien utiliser le formulaire ci-dessous.</p>

{{ form(form) }}
{% endblock %}
